{
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  },
  "presets": [
    "@babel/preset-env",
    "minify"
  ],
  "plugins": [
    "minify-builtins",
    "minify-constant-folding",
    "minify-simplify",
    [
      "module-resolver",
      {
        "alias": {
          "Utils": "./src/utils",
          "Routes": "./src/routes"
        }
      }
    ]
  ],
  "comments": false
}