{
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  },
  "presets": [
    "@babel/preset-env",
    "minify"
  ],
  "plugins": [
    "minify-builtins",
    "minify-constant-folding",
    "minify-simplify",
    [
      "module-resolver",
      {
        "alias": {
          "Middlewares": "./src/middleware",
          "Routes": "./src/routes",
          "Bin": "./src/bin"
        }
      }
    ]
  ],
  "comments": false
}